<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net"/>
	</configSections>

	<system.serviceModel>
    <services>
       <service name="BootSwitchSvc.BootSwitchWebSvc">
          <host>
             <baseAddresses>
                <add baseAddress="http://localhost:11702" />
             </baseAddresses>
          </host>
       </service>
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" defaultOutgoingResponseFormat="Json"/>
      </webHttpEndpoint>
    </standardEndpoints>
	</system.serviceModel>

	<!-- 
	These log4net settings are freely customizable. Examples can be found here:
	http://logging.apache.org/log4net/release/config-examples.html
	-->
	<log4net>
		<!-- outputs all events to the Console -->
		<appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss} %-5p %logger{1}[%thread] - %m%n"/>
			</layout>
		</appender>
		<!-- outputs all events to a daily log file -->
		<!-- XP/2003: %ALLUSERSPROFILE%\Application Data\BootSwitchSvc\Logs -->
		<!-- Vista/2008: %ALLUSERSPROFILE%\BootSwitchSvc\Logs -->
		<appender name="DailyTextLog" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString">
				<converter>
					<name value="sf"/>
					<type value="BootSwitchSvc.SpecialFolderPatternConverter, BootSwitchSvc"/>
				</converter>
				<conversionPattern value="%sf{CommonApplicationData}\BootSwitchSvc\Logs\"/>
			</file>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd'.log'"/>
			<staticLogFileName value="false"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss} %-5p %logger{1}[%thread] - %m%n"/>
			</layout>
		</appender>
		<!-- outputs WARN and higher events to the Application Event Log -->
		<appender name="ApplicationEventLog" type="log4net.Appender.EventLogAppender">
			<applicationName value="BootSwitchSvc"/>
			<threshold value="WARN"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %logger{1} - %m%n"/>
			</layout>
		</appender>
		<root>
			<!-- any appenders included below that don't have an explicit
			"threshold" value defined in their details above will use the 
			"level" value below -->
			<level value="DEBUG"/>
			<appender-ref ref="ConsoleLog"/>
			<appender-ref ref="DailyTextLog"/>
			<appender-ref ref="ApplicationEventLog"/>
		</root>
	</log4net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
